Repository BF-FrontEnd-class/agile-development-group4-all-about-trees, pull requests merged in 2023-05, with the labels that each got.

#3 projectDefinition
  .cspell.json
  README.md
Labels: md, planning, group

#4 modify constraints
  planning/constraints.md
Labels: md, planning

#6 modify communication.md file
  .cspell.json
  planning/communication.md
Labels: md, planning

#8 User personas
  .cspell.json
  planning/user-personas.md
Labels: planning, user-personas

#10 created backlog.md file
  .cspell.json
  planning/backlog.md
Labels: md, planning, backlog

#13 changes in backlog.md
  .nvmrc
  package.json
  planning/backlog.md
Labels: md, planning, backlog

#15 updating the backlog
  planning/backlog.md
Labels: planning, backlog

#16 wireframe added
  planning/design.md
  public/wireframe.png
Labels: md, planning, design

#18 development strategy added
  planning/development-strategy.md
Labels: md, planning

#20 add title
  index.html
  styles/something.css
Labels: css, html

#22 add navigation-bar
  index.html
  styles/something.css
Labels: css, html

#24 add main-contain
  index.html
Labels: css, html

#27 add links
  index.html
  styles/something.css
Labels: css, html

#28 add images
  index.html
  styles/something.css
Labels: css, html

#30 modify images
  styles/something.css
Labels: css, html

#32 modified readme.md
  README.md
  planning/screenshot.png
Labels: md

#33 add retrospective
  planning/retrospective.md
Labels: md, retrospective
